<div id="links" class="links">
 <!--    <a href="https://farm2.static.flickr.com/1716/24605614921_e818176d17_b.jpg" title="Yellow Dwarf, Vancouver, 2015" data-gallery="">
        <img src="https://farm2.static.flickr.com/1716/24605614921_e818176d17_s.jpg">
    </a>


    <a href="https://farm2.static.flickr.com/1652/24583007722_e3fb21f01a_b.jpg" title="Reflect On The Present [EXPLORE: 1/30/16]" data-gallery="">
        <img src="https://farm2.static.flickr.com/1652/24583007722_e3fb21f01a_s.jpg">
    </a>

    <a href="https://farm2.static.flickr.com/1610/24613963741_0a694334bc_b.jpg" title="Dancing in the Clouds" data-gallery=""><img src="https://farm2.static.flickr.com/1610/24613963741_0a694334bc_s.jpg"></a><a href="https://farm2.static.flickr.com/1441/24341683989_c4a0fda3b8_b.jpg" title="Great gray owl (m) - 2M2K16-73" data-gallery=""><img src="https://farm2.static.flickr.com/1441/24341683989_c4a0fda3b8_s.jpg"></a><a href="https://farm2.static.flickr.com/1718/24586851772_278277218c_b.jpg" title="Abendlicht" data-gallery=""><img src="https://farm2.static.flickr.com/1718/24586851772_278277218c_s.jpg"></a><a href="https://farm2.static.flickr.com/1483/24618046941_7fe0f59c6e_b.jpg" title="reflection  ( explored 31.01.2016)" data-gallery=""><img src="https://farm2.static.flickr.com/1483/24618046941_7fe0f59c6e_s.jpg"></a><a href="https://farm2.static.flickr.com/1515/24614691721_e96c6d3ccf_b.jpg" title="Bright afternoon sun halos the single tree guarding the green hill" data-gallery=""><img src="https://farm2.static.flickr.com/1515/24614691721_e96c6d3ccf_s.jpg"></a><a href="https://farm2.static.flickr.com/1628/24699932305_079d24ed7c_b.jpg" title="Eagle With Takeout" data-gallery=""><img src="https://farm2.static.flickr.com/1628/24699932305_079d24ed7c_s.jpg"></a><a href="https://farm2.static.flickr.com/1494/24708288615_7fc77084a1_b.jpg" title="magic light in the evening (explore)" data-gallery=""><img src="https://farm2.static.flickr.com/1494/24708288615_7fc77084a1_s.jpg"></a><a href="https://farm2.static.flickr.com/1623/24081133733_0bf3050ec8_b.jpg" title="～Taipei 101 Xiangshan Night | 台北象山101之夜～" data-gallery=""><img src="https://farm2.static.flickr.com/1623/24081133733_0bf3050ec8_s.jpg"></a><a href="https://farm2.static.flickr.com/1593/24081502874_6fc3151e0c_b.jpg" title="Rainy Day" data-gallery=""><img src="https://farm2.static.flickr.com/1593/24081502874_6fc3151e0c_s.jpg"></a> -->
<!--    <a ng-repeat="x in names" ng-href="https://farm{{x.farm}}.staticflickr.com/{{x.server}}/{{x.id}}_{{x.secret}}.jpg" title={{x.title}} data-gallery="">
<img ng-src="https://farm{{x.farm}}.staticflickr.com/{{x.server}}/{{x.id}}_{{x.secret}}_t.jpg">
    </a> -->

</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="display: none;">
    <div class="slides"></div>
    <h3 class="title">Rainy Day</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>