 <section class="bg-primary" id="about">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-4" ID="profile-photo">
                    <img id="about-person1" class="about-person" src="img/about/person1.jpg" height="40%" width="40%">
                    <img id="about-person2" class="about-person" src="img/about/person2.jpg" height="50%" width="50%">
                    <img id="about-person4" class="about-person" src="img/about/person4.jpg" height="50%" width="50%">
                    <img id="about-person3" class="about-person" src="img/about/person3.jpg" height="40%" width="40%">
                    
                </div>

                <div class="col-lg-8 text-right">
                    <h2 class="section-heading">I am a guy with a camera</h2>
                    <p class="text-faded">Lorem ipsum dolor sit amet, est suas graece praesent ea. Error incorrupte ex vix, quo vocent honestatis ex, quo augue dicant ei. Dicant imperdiet dissentiet ne mel, ei wisi perfecto sed. His accusamus rationibus at. Purto vocibus cum ne, eu nominavi scripserit definitiones usu, autem aeque aliquam pro ne. Ornatus commune vulputate at mei.<br/><br/>
                    Sea id agam unum temporibus. Duo in primis maiorum, ea quo eligendi pericula forensibus, per no meliore recteque instructior. Mea te vocibus mentitum. Ne equidem dissentiet vim. Id omnes scaevola prodesset qui, error primis voluptaria his eu, vel bonorum mentitum disputationi id. Pro iusto legere te, quo quot menandri eu.
</p>
                
                </div>
            </div>
        </div>
    </section>

   

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <span class="glyphicon glyphicon-phone-alt"></span>
                    <p>817-307-8806</p>
                </div>
                <div class="col-lg-4 text-center">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <p><a href="mailto:rohan.annamaraju@damn.com">56ar.photo@gmail.com</a></p>
                </div>
            </div>
        </div>        
    </section>