
<div id="links" class="links">


<!--     <a ng-repeat="x in names" ng-href="https://farm{{x.farm}}.staticflickr.com/{{x.server}}/{{x.id}}_{{x.secret}}.jpg" title={{x.title}} data-gallery="">
<img ng-src="https://farm{{x.farm}}.staticflickr.com/{{x.server}}/{{x.id}}_{{x.secret}}_t.jpg">
    </a> -->
</div>



<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="display: none;">
    <div class="slides"></div>
    <h3 class="title">Rainy Day</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>